<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <title>Personal information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form id="cvForm" th:action="@{${urlToNext}}" th:object="${personalInfo}" method="post">
    <input type="hidden" id="cvId" name="cvId" th:value="${cvId}">

    <label for="name">name:</label><br>
    <input type="text" id="name" name="name" th:field="*{name}"><br>

    <label for="surname">Surname:</label><br>
    <input type="text" id="surname" name="surname" th:field="*{surname}"><br>

    <label for="age">Age:</label><br>
    <input type="number" id="age" name="age" th:field="*{age}"><br>

    <label for="countryOfBirth">miejsce urodzenia:</label><br>
    <input type="text" id="countryOfBirth" name="countryOfBirth" th:field="*{countryOfBirth}"><br>

    <label for="dateOfBirth">Data urodzenia:</label><br>
    <input type="date" id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}"><br>

    <label for="aboutMe">O mnie:</label><br>
    <input type="text" id="aboutMe" name="aboutMe" th:field="*{aboutMe}"><br>
    
    <input type="submit" value="next">
</body>
</html>